<br>
<div class="row">
    <div class="col-10 mx-auto">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">SQL Optimizer</h5>

                    <br>
                    <div class="row">
                        <div class="col-4 p-0">
                            <div class="card">
                                <div class="card-body p-2">
                                    <span class="badge badge-pill float-right"
                                          style="cursor: pointer;"
                                          ui-sref="optimizer.query"
                                          ng-class="section == 'query' ? 'badge-primary': 'badge-secondary'">1</span>
                                    <h6>Input SQL Query</h6>
                                    <div class="text-muted text-secondary">Show us the query to analyze</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="card">
                                <div class="card-body p-2">
                                    <span class="badge badge-pill badge-secondary float-right"
                                          ng-class="section == 'schema' ? 'badge-primary': 'badge-secondary'">2</span>
                                    <h6>Schema Structure</h6>
                                    <div class="text-muted text-secondary">Tell us how you DB looks like</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-0">
                            <div class="card">
                                <div class="card-body p-2">
                                    <span class="badge badge-pill badge-secondary float-right"
                                          ng-class="section == 'statistics' ? 'badge-primary': 'badge-secondary'">3</span>
                                    <h6>Performance Statistics</h6>
                                    <div class="text-muted text-secondary">Learn how to boost your query</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <div ui-view="optimizer"></div>
                    </div>
                </div>
                <div class="card-footer">
                    <button ng-if="section == 'query'" ui-sref="optimizer.schema" class="btn btn-sm btn-primary pull-right">Done with SQL Query</button>

                    <button ng-if="section == 'schema'" ui-sref="optimizer.query" class="btn btn-sm btn-secondary pull-left">Go Back</button>
                    <button ng-if="section == 'schema'" ui-sref="recommendations" class="btn btn-sm btn-primary pull-right">Done with Schema Structure</button>

                    <button ng-if="section == 'statistics'" ui-sref="optimizer.schema" class="btn btn-sm btn-secondary pull-left">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>