<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{tip.title}}</h5>
        <p class="card-text">{{tip.description}}</p>

        <div class="mt-3 mb-3" ng-if="tip.bestPractice">
            <span class="text-success">Best practice example:</span>
            <div style="height: 50px; border: 1px dashed #ccc;" ui-ace="{
              theme:'sqlserver',
              mode: 'sql',
              advanced: {
                fontSize: '15px',
                maxLines: 15,
                showGutter: false
              }
            }" ng-model="tip.bestPractice"></div>
        </div>
        <div class="mb-3" ng-if="tip.badPractice">
            <span class="text-danger">Bad practice example:</span>
            <div style="height: 50px; border: 1px dashed #ccc;" ui-ace="{
              theme:'sqlserver',
              mode: 'sql',
              advanced: {
                fontSize: '15px',
                maxLines: 15,
                showGutter: false
              }
            }" ng-model="tip.badPractice"></div>
        </div>
        <div class="mb-3" ng-if="tip.sql">
            <span class="text-primary">Suggestions:</span>
            <div style="height: 100px; border: 1px dashed #ccc;" ui-ace="{
              theme:'sqlserver',
              mode: 'sql',
              advanced: {
                fontSize: '15px'
              }
            }" ng-model="tip.sql"></div>
        </div>
    </div>
</div>